name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write
  checks: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5
          arguments: build

      - name: Test
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5
          arguments: test

      - name: Test Results
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          fail_on_failure: true
          require_tests: true
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Upload Jars
        uses: actions/upload-artifact@v3
        with:
          name: QdrantJava
          path: build/libs

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy javadoc to Github Pages
        uses: dev-vince/actions-publish-javadoc@v1.0.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          java-version: "17"
          java-distribution: "adopt" # The distributor of the target JDK. See https://github.com/actions/setup-java for more information.
          project: gradle # The project type.
          branch: "gh-pages" # The branch for the javadoc contents.
