name: Test And Deploy

permissions:
  contents: write
  
on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: "8"
          distribution: "oracle"
      - name: Set execute permission
        run: |
          chmod +x ./tools/mvn_test.sh
      - name: Maven tests
        run: |
          ./tools/mvn_test.sh
        shell: bash
        
  publish:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy javadoc to Github Pages
        uses: dev-vince/actions-publish-javadoc@v1.0.1
        with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            java-version: "8"
            java-distribution: "adopt" # The distributor of the target JDK. See https://github.com/actions/setup-java for more information.
            project: maven # The project type.
            branch: "gh-pages" # The branch for the javadoc contents.
